@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dana";
    font-weight: 900;
    src: url("../public/font/dana/woff/dana-extra-black.woff");
  }

  @font-face {
    font-family: "iran-sans";
    src: url("../public/font/iran-sans/woff/iran-sans.woff");
  }

  @font-face {
    font-family: "oswald";
    font-weight: 900;
    src: url("../public/font/oswald/woff/oswald-bold.woff");
  }

  @font-face {
    font-family: "roboto";
    font-weight: 400;
    src: url("../public/font/roboto/woff/roboto-regular.woff");
  }
  @font-face {
    font-family: "roboto";
    font-weight: 500;
    src: url("../public/font/roboto/woff/roboto-med.woff");
  }

  * {
    scrollbar-color: theme("colors.primary") transparent;
    scrollbar-width: thin;
  }

  html {
    font-family: "roboto";
  }
  html:lang("fa") {
    font-family: "iran-sans";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  [lang="fa"] .font-title {
    font-family: "dana";
    font-weight: 900;
  }

  [lang="en"] .font-title {
    font-family: "oswald";
    font-weight: 900;
  }

  .bg-color {
    background-color: oklch(var(--btn-color, var(--b2)));
  }
  .bg-color-content {
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-tl bg-clip-text text-transparent transition duration-100;
  }
  [data-theme="dark"] .text-gradient {
    @apply from-neutral to-neutral-400;
  }
  [data-theme="light"] .text-gradient {
    @apply from-black to-black;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .icon-sm {
    @apply size-4;
  }

  .icon {
    @apply size-5;
  }

  .icon-md {
    @apply size-10;
  }

  .title-sm *:first-child {
    @apply font-title text-base sm:text-lg md:text-xl lg:text-2xl;
  }

  .title-md *:first-child {
    @apply font-title text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  .title-lg *:first-child {
    @apply font-title text-2xl sm:text-3xl md:text-4xl;
  }

  .title-xl *:first-child {
    @apply font-title text-4xl sm:text-6xl md:text-8xl;
  }

  .outline-active {
    background-color: var(--fallback-b1, oklch(var(--bc) / var(--tw-bg-opacity)));
    color: var(--fallback-b1, oklch(var(--b1) / var(--tw-text-opacity)));
  }
  .outline-active:hover {
    color: unset;
    background-color: unset;
    border: solid 0.1rem var(--fallback-b1, oklch(var(--bc) / var(--tw-bg-opacity)));
  }

  .glass {
    backdrop-filter: blur(10px);
    background-color: transparent;
    background-image: linear-gradient(
        135deg,
        rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
        rgb(0 0 0 / 0%) 100%
      ),
      linear-gradient(
        var(--glass-reflex-degree, 100deg),
        rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%,
        rgb(0 0 0 / 0%) 25%
      );
  }

  [data-theme="dark"] #liner {
    background-image: linear-gradient(to bottom, #2f283a, #0f0616 60%);
  }
  [data-theme="light"] #liner {
    background-image: linear-gradient(
      to bottom,
      theme("colors.base-200"),
      theme("colors.base-300") 60%
    );
  }

  .star {
    @apply w-1 h-4 bg-white/30 center absolute after:w-4 after:h-1 after:bg-white/30 after:absolute;
  }
}
