@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dana";
    font-weight: 900;
    src: url("../public/font/dana/woff/dana-extra-black.woff");
  }

  @font-face {
    font-family: "iran-sans";
    src: url("../public/font/iran-sans/woff/iran-sans.woff");
  }

  @font-face {
    font-family: "oswald";
    font-weight: 900;
    src: url("../public/font/oswald/woff/oswald-bold.woff");
  }

  @font-face {
    font-family: "roboto";
    font-weight: 400;
    src: url("../public/font/roboto/woff/roboto-regular.woff");
  }
  @font-face {
    font-family: "roboto";
    font-weight: 500;
    src: url("../public/font/roboto/woff/roboto-med.woff");
  }

  * {
    scrollbar-color: theme("colors.primary") transparent;
    scrollbar-width: thin;
  }

  html {
    font-family: "roboto";
  }
  html:lang("fa") {
    font-family: "iran-sans";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  [lang="fa"] .font-title {
    font-family: "dana";
    font-weight: 900;
  }

  [lang="en"] .font-title {
    font-family: "oswald";
    font-weight: 900;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-tl bg-clip-text text-transparent transition duration-100;
  }
  [data-theme="dark"] .text-gradient {
    @apply from-neutral to-neutral-400;
  }
  [data-theme="light"] .text-gradient {
    @apply from-black to-black;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .icon-sm {
    @apply size-4;
  }

  .icon {
    @apply size-5;
  }

  .icon-md {
    @apply size-10;
  }

  .title-md *:first-child {
    @apply w-full font-title text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  .title-lg *:first-child {
    @apply w-full font-title text-2xl sm:text-3xl md:text-4xl;
  }
}
