@import "default";
@import "animation";

@mixin showButton($left, $right) {
    &:hover {
        & > .projects__box_button_wrapper_text {
            grid-template-columns: 1fr;
            .projects__box_button_text {
                margin: 0 $right 0 $left;
                html[data-lang="en"] & {
                    margin: 0 $left 0 $right !important;
                }
                font-weight: 500 !important;
            }
        }
    }
}

@mixin glass($Blur, $backGroundColor) {
    backdrop-filter: blur($Blur) saturate(180%);
    -webkit-backdrop-filter: blur($Blur) saturate(180%);
    background-color: $backGroundColor;
}

@mixin setPosition($top, $left) {
    top: $top;
    left: $left;
}

@mixin setPositionAndSize($top, $left, $width, $height) {
    width: $width;
    height: $height;
    top: $top;
    left: $left;
}
