@import "default";
@import "animation";

body {
    color: var(--text-color);
    background-color: $light-color;
    position: relative;
}

#menu {
    width: 100%;
    height: 4rem;
    padding: 0 $xl9;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: $glass-light-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    & > div,
    ul {
        display: flex;
    }

    .menu-list {
        .menu-list__item {
            margin-left: $xl4;

            @media only screen and (max-width: $largeDevice) {
                margin-left: $lg;
            }
            @media only screen and (max-width: $mediumDevice) {
                margin-left: $sm;
            }
        }
        .menu-list__item_link {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row-reverse;
            position: relative;

            &:hover .menu-list__item_svg {
                transform: translateY(-$s01);
                &:is(.stroke):not(.fill) {
                    stroke: $green-color !important;
                }
                &:is(.fill) {
                    fill: $green-color !important;
                }
            }
        }
        .menu-list__item_text {
            margin-right: $s03;
        }
        .menu-list__item_svg {
            padding: $s01;
        }
    }

    .menu-list.mobile {
        opacity: 0;
        visibility: hidden;

        & > .menu-list__item {
            cursor: pointer;
        }

        .menu-list__dropdown_wrapper {
            width: 94%;
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            position: absolute;
            top: calc(100% + $s05);
            left: 50%;
            transform: translate(-50%, 0%);
        }

        .menu-list__dropdown {
            padding: 0 $s06;
            min-height: 0;
            border-radius: 12px;
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.75);
            flex-flow: column;
            align-items: flex-start;
        }

        .menu-list__item.active {
            .menu-list__svg-menu {
                display: none;
            }
            & + .menu-list__dropdown_wrapper {
                grid-template-rows: 1fr !important;
                .menu-list__dropdown {
                    padding: $s06;
                    border: $s01 solid $gray-color;
                }
            }
        }
        .menu-list__item:not(.active) {
            .menu-list__svg-close {
                display: none;
            }
        }

        .menu-list__item {
            margin: $s05 0;
        }
    }

    .menu-quick_access {
        .menu-quick_access__contact_me_svg {
            stroke: $light-color;
            margin-right: $s05;
        }

        .menu-quick_access__language {
            margin-right: $s05;
            position: relative;

            .menu-quick_access__language__text {
                cursor: default;
                margin-left: $s05;
            }

            .menu-quick_access__language__list {
                position: absolute;
                margin-top: $s05;
                width: 100%;
                height: fit-content;
                border: 1px solid rgba(209, 213, 219, 0.3);
                border-radius: 12px;
                clip-path: inset(0% 50% 100% 50% round 10px);
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(255, 255, 255, 0.75);
                overflow: hidden;
                display: flex;
                flex-flow: column;

                li {
                    cursor: pointer;
                    margin-bottom: $s01;
                    padding: $s02 $s05;
                    &:hover {
                        color: $light-color;
                        background-color: $green-color;
                    }
                    &:last-child {
                        margin-bottom: unset !important;
                    }
                }
            }
            .menu-quick_access__language_button:is(.active) + .menu-quick_access__language__list {
                clip-path: inset(0% 0% 0% 0% round 0px);
            }
        }
    }

    html[data-lang="en"] & {
        .menu-list .menu-list__item {
            margin-left: unset !important;
            margin-right: $s09;
        }
        .menu-quick_access__contact_me_svg {
            margin-right: unset !important;
            margin-left: $s05;
        }
        .menu-quick_access__language {
            margin-right: unset;
            margin-left: $s05;
        }
        .menu-quick_access__language__text {
            margin-left: unset;
            margin-right: $s05;
        }
        .menu-list__item_text {
            margin-right: unset;
            margin-left: $s03;
        }
    }

    @media only screen and (max-width: $largeDevice) {
        padding: 0 $xl5;
    }
    @media only screen and (max-width: $mediumDevice) {
        padding: 0 $xl;
        .menu-list.desktop {
            display: none;
        }
        .menu-list.mobile {
            opacity: 1;
            visibility: visible;
        }
    }
}

#landing {
    width: 100%;
    margin-top: 4rem;
    height: calc(100dvh - 4rem);
    background-color: $light-color;
    display: flex;

    & > div {
        width: 50%;
        height: 100%;
    }

    .landing__left {
        text-align: center;
        padding: 0 $base;
    }

    .landing__right {
        padding-right: $xl9;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: $s08;
        position: relative;
        background-color: transparent;
        z-index: 1;

        .landing__right--svg {
            position: absolute;
            max-width: $xl5;
            max-height: $xl5;
            z-index: -1;
        }

        .landing__right--svg:nth-child(1) {
            top: 1%;
            right: 30%;
        }
        .landing__right--svg:nth-child(2) {
            width: $xl3;
            height: $xl3;
            top: 20%;
            right: 5%;
        }
        .landing__right--svg:nth-child(3) {
            top: 45%;
            right: 10%;
        }
        .landing__right--svg:nth-child(4) {
            width: $xl3;
            height: $xl3;
            top: 10%;
            right: 90%;
        }
        .landing__right--svg:nth-child(5) {
            top: 80%;
            right: 90%;
        }
        .landing__right--svg:nth-child(6) {
            width: $xl;
            height: $xl;
            top: 10%;
            right: 15%;
        }
        .landing__right--svg:nth-child(7) {
            top: 45%;
            right: 100%;
        }
        .landing__right--svg:nth-child(8) {
            top: 90%;
            right: 40%;
        }

        .landing__right--info-card {
            width: fit-content;
            font-size: $xs;
            color: $light-orange-color;
            padding: $s03 $s05;
            border-radius: $base;
            box-shadow: 0 $s02 $s03 $orange-color;
            background-color: $orange-color;
        }
        .landing__right--wrapper-title {
            position: relative;
            .landing__right--wrapper-title__svg {
                width: $xl8;
                height: $xl8;
                position: absolute;
                top: -12%;
                left: 23%;

                :has(.flip-horizental) & {
                    @extend .flip-horizental;
                }
            }

            .landing__right--title {
                font-size: $xl6;
                white-space: nowrap;
                line-height: $xl7;
            }
        }
        .landing__right--desc {
            width: 80%;
            font-size: $s08;
            font-weight: 600;
            text-align: justify;
        }
        .landing__right--go-to-skills {
            box-shadow: 0 $s02 $s03 $green-color;

            &:hover {
                box-shadow: 0 $s02 $s05 $green-color;
            }
        }
        .landing__right--scroll-down-wrapper {
            cursor: default;
            position: absolute;
            bottom: 0;
            right: 100%;
            text-align: center;

            .landing__right--scroll-down-svg {
                padding: $s05;
            }

            .landing__right--scroll-down-text {
                font-weight: 600;
                white-space: nowrap;
                font-size: $s07;
            }
        }
    }

    img {
        height: 95%;
    }
    html[data-lang="en"] & {
    }

    @media only screen and (max-width: $largeDevice) {
        .landing__right {
            padding-right: $xl5;

            .landing__right--wrapper-title {
                .landing__right--title {
                    font-size: $xl5;
                    line-height: $xl6;
                }
            }
        }
    }
    @media only screen and (max-width: $mediumDevice) {
        & {
            flex-flow: wrap column-reverse;
            justify-content: space-between;
        }
        & > div {
            width: 100%;
        }

        .landing__left {
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .landing__right {
            height: 60%;
            padding-right: unset;
            padding-bottom: $xl;
            align-items: center;
            text-align: center;
            overflow: hidden;
            gap: $xl;

            .landing__right--svg:nth-child(1) {
                top: 10%;
            }

            .landing__right--wrapper-title {
                .landing__right--title {
                    font-size: $xl4;
                    line-height: $xl5;
                }
                .landing__right--wrapper-title__svg {
                    top: -20%;
                    left: -3%;
                }
            }

            .landing__right--desc {
                text-align: inherit;
            }
            .landing__right--go-to-skills {
                width: unset;
            }
        }
        img {
            width: 80%;
            height: auto;
        }
    }
}
