@import "default";
@import "animation";
@import "mixin";

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: $light-color;
    position: relative;
    padding-top: $menuHeight;
    position: relative;
}

#menu {
    @extend .paddingSide;
    width: 100%;
    height: $menuHeight;
    max-height: $menuHeight;
    @include glass(16px, $glass-light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    & > div,
    ul {
        display: flex;
    }

    .menu-list {
        .menu-list__item {
            margin-left: $xl4;

            @media only screen and (max-width: $largeDevice) {
                margin-left: $lg;
            }
            @media only screen and (max-width: $mediumDevice) {
                margin-left: $sm;
            }
        }
        .menu-list__item_link {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row-reverse;
            position: relative;

            &:hover .menu-list__item_svg {
                transform: translateY(-$s01);
                &:is(.stroke):not(.fill) {
                    stroke: $green-color !important;
                }
                &:is(.fill) {
                    fill: $green-color !important;
                }
            }
        }
        .menu-list__item_text {
            margin-right: $s03;
        }
        .menu-list__item_svg {
            padding: $s01;
        }
    }

    .menu-list.mobile {
        opacity: 0;
        visibility: hidden;

        & > .menu-list__item {
            cursor: pointer;
        }

        .menu-list__dropdown_wrapper {
            width: 94%;
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            position: absolute;
            top: calc(100% + $s05);
            left: 50%;
            transform: translate(-50%, 0%);
        }

        .menu-list__dropdown {
            padding: 0 $s06;
            min-height: 0;
            border-radius: 12px;
            @include glass(16px, rgba(255, 255, 255, 0.75));
            flex-flow: column;
            align-items: flex-start;
        }

        .menu-list__item.active {
            .menu-list__svg-menu {
                display: none;
            }
            & + .menu-list__dropdown_wrapper {
                grid-template-rows: 1fr !important;
                .menu-list__dropdown {
                    padding: $s06;
                    border: $s01 solid $gray-color;
                }
            }
        }
        .menu-list__item:not(.active) {
            .menu-list__svg-close {
                display: none;
            }
        }

        .menu-list__item {
            margin: $s05 0;
        }
    }

    .menu-quick_access {
        .menu-quick_access__contact_me_svg {
            stroke: $light-color;
            margin-right: $s05;
        }

        .menu-quick_access__language {
            margin-right: $s05;
            position: relative;

            .menu-quick_access__language__text {
                margin-left: $s05;
            }

            .menu-quick_access__language__list {
                position: absolute;
                margin-top: $s05;
                width: 100%;
                height: fit-content;
                border: 1px solid rgba(209, 213, 219, 0.3);
                border-radius: 12px;
                clip-path: inset(0% 50% 100% 50% round 10px);
                @include glass(16px, rgba(255, 255, 255, 0.75));
                overflow: hidden;
                display: flex;
                flex-flow: column;

                li {
                    cursor: pointer;
                    margin-bottom: $s01;
                    padding: $s02 $s05;
                    &:hover {
                        color: $light-color;
                        background-color: $green-color;
                    }
                    &:last-child {
                        margin-bottom: unset !important;
                    }
                }
            }
            .menu-quick_access__language_button:is(.active) + .menu-quick_access__language__list {
                clip-path: inset(0% 0% 0% 0% round 0px);
            }
        }
    }

    html[data-lang="en"] & {
        .menu-list .menu-list__item {
            margin-left: unset !important;
            margin-right: $s09;
        }
        .menu-quick_access__contact_me_svg {
            margin-right: unset !important;
            margin-left: $s05;
        }
        .menu-quick_access__language {
            margin-right: unset;
            margin-left: $s05;
        }
        .menu-quick_access__language__text {
            margin-left: unset;
            margin-right: $s05;
        }
        .menu-list__item_text {
            margin-right: unset;
            margin-left: $s03;
        }
    }

    @media only screen and (max-width: $mediumDevice) {
        .menu-list.desktop {
            display: none;
        }
        .menu-list.mobile {
            opacity: 1;
            visibility: visible;
        }
    }
}

#landing {
    width: 100%;
    height: $currentHeight;
    background-color: $light-color;
    display: flex;

    & > div {
        width: 50%;
        height: 100%;
    }

    .landing__left {
        text-align: center;
        padding: 0 $base;

        img {
            :has(.flip-horizental__active) & {
                @extend .flip-horizental;
            }
        }
    }

    .landing__right {
        padding-right: $xl9;
        display: flex;
        flex-flow: column;
        justify-content: center;
        position: relative;
        background-color: transparent;
        z-index: 1;

        .landing__right--svg {
            position: absolute;
            max-width: $xl5;
            max-height: $xl5;
            z-index: -1;
        }

        .landing__right--svg:nth-child(1) {
            @include setPosition(1%, 30%);
        }
        .landing__right--svg:nth-child(2) {
            @include setPositionAndSize(20%, 5%, $xl3, $xl3);
        }
        .landing__right--svg:nth-child(3) {
            @include setPosition(45%, 10%);
        }
        .landing__right--svg:nth-child(4) {
            @include setPositionAndSize(10%, 90%, $xl3, $xl3);
        }
        .landing__right--svg:nth-child(5) {
            @include setPosition(80%, 90%);
        }
        .landing__right--svg:nth-child(6) {
            @include setPositionAndSize(10%, 15%, $xl, $xl);
        }
        .landing__right--svg:nth-child(7) {
            @include setPosition(45%, 100%);
        }
        .landing__right--svg:nth-child(8) {
            @include setPosition(85%, 40%);
        }

        .landing__right--info-card {
            width: fit-content;
            font-size: $xs;
            color: $light-orange-color;
            padding: $s03 $s05;
            border-radius: $base;
            box-shadow: 0 $s02 $s03 $orange-color;
            background-color: $orange-color;
        }
        .landing__right--wrapper-title {
            position: relative;
            .landing__right--wrapper-title__svg {
                position: absolute;
                @include setPositionAndSize(-12%, 23%, $xl8, $xl8);

                :has(.flip-horizental__active) & {
                    @extend .flip-horizental;
                }
            }

            .landing__right--title {
                font-size: $xl6;
                white-space: nowrap;
                line-height: $xl7;
            }
        }
        .landing__right--desc {
            width: 80%;
            margin: $xl 0;
            font-size: $s08;
            text-align: justify;
        }
        .landing__right--go-to-skills {
            box-shadow: 0 $s02 $s03 $green-color;

            &:hover {
                box-shadow: 0 $s02 $s05 $green-color;
            }
        }
        .landing__right--scroll-down-wrapper {
            cursor: default;
            position: absolute;
            bottom: 0;
            right: 100%;
            text-align: center;

            .landing__right--scroll-down-svg {
                padding: $s05;
            }

            .landing__right--scroll-down-text {
                font-weight: 600;
                white-space: nowrap;
                font-size: $s07;
            }
        }
    }

    img {
        height: 95%;
    }

    html[data-lang="en"] & {
        .landing__right {
            padding-right: unset;
            padding-left: $xl9;

            .landing__right--scroll-down-wrapper {
                right: 0;
            }
            .landing__right--title {
                line-height: $xl6;
            }
            .landing__right--wrapper-title {
                .landing__right--wrapper-title__svg {
                    @include setPosition(-22%, 72%);
                }
            }
        }
    }

    @media only screen and (max-width: $largeDevice) {
        .landing__right {
            padding-right: $xl5;

            .landing__right--wrapper-title {
                .landing__right--title {
                    font-size: $xl5;
                    line-height: $xl6;
                }
            }
        }
    }
    @media only screen and (max-width: $mediumDevice) {
        & {
            height: unset;
            min-height: $currentHeight;
            flex-flow: wrap column-reverse;
            justify-content: flex-end;
        }
        & > div {
            width: 100%;
        }

        .landing__left {
            display: flex;
            justify-content: center;
        }

        .landing__right {
            overflow-x: hidden;
            min-height: 45vh;
            padding: 0 $lg !important;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            .landing__right--svg:nth-child(1) {
                @include setPosition(10%, 60%);
            }

            .landing__right--wrapper-title {
                .landing__right--title {
                    font-size: $xl4;
                    html[data-lang="en"] & {
                        line-height: $xl4;
                    }
                    html[data-lang="fa"] & {
                        line-height: $xl5;
                    }
                }
                .landing__right--wrapper-title__svg {
                    @include setPosition(-20%, -3%);
                }
            }

            .landing__right--desc {
                width: 100%;
                text-align: inherit;
            }
            .landing__right--go-to-skills {
                padding: $s08 0;
                width: 100%;
                box-shadow: unset;
                &:hover {
                    box-shadow: unset;
                }
            }
            .landing__right--scroll-down-wrapper {
                display: none;
            }
        }
        img {
            height: 100%;
        }
    }
}

#aboutMe {
    @extend .paddingSide;
    min-height: $currentHeight;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;

    & > div {
        width: 50%;
        height: 100%;
        display: flex;

        img {
            height: 70%;
            :has(.flip-horizental__active) & {
                @extend .flip-horizental;
            }
        }
    }

    .aboutMe__left {
        align-items: center;
        justify-content: center;
    }

    .aboutMe__right {
        justify-content: center;
        flex-flow: column;
    }

    @media only screen and (max-width: $mediumDevice) {
        margin-top: $xl2;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-flow: column-reverse;

        & > div {
            width: 100%;
        }

        .aboutMe__right {
            .aboutMe__right--title {
                margin: $xl 0;
            }
        }

        .aboutMe__left {
            height: 40%;
            img {
                height: 100%;
            }
        }
    }
}

#skills {
    @extend .paddingSide;
    min-height: $currentHeight;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    & > div {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .skills__right_top_top {
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
    }

    .skills__left_top_top {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        overflow: hidden;
        .skills__left_top_top_icons_wrapper {
            width: 16rem;
            height: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            @include setPosition(35%, 35%);

            body:not(.flip-horizental__active) & {
                left: 10%;
            }

            .skills__left_top_top--icon {
                width: $xl5;
                height: $xl5;
                padding: $s02;
                border-radius: $lg;
                border: 1px solid $glass-light-color;
                @include glass(16px, $glass-light-color);
                position: absolute;
            }
            .bootstrap_icon {
                top: 0;
            }

            .css_icon {
                top: 15%;
                right: 15%;
            }

            .html_icon {
                right: 0;
            }

            .javascript_icon {
                bottom: 15%;
                right: 15%;
            }

            .react_icon {
                bottom: 0;
            }

            .redux_icon {
                bottom: 15%;
                left: 15%;
            }

            .tailwind_icon {
                left: 0;
            }

            .typescript_icon {
                top: 15%;
                left: 15%;
            }
        }
        img {
            width: 100%;
            body:not(.flip-horizental__active) & {
                @extend .flip-horizental;
            }
        }
    }

    .skills__both_bottom {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-flow: row wrap;
        padding: $xl 0;
        gap: $s05;

        .skills__right_top_top_package {
            height: fit-content;
            cursor: pointer;
            padding: $s05 $s09;
            color: var(--package-color);
            border-radius: $sm;
            font-weight: 600;
            background: linear-gradient(145deg, #ffffff, #dddeda);
            box-shadow: $s01 $s01 $s04 #d0d2ce;
        }
    }

    @media only screen and (max-width: $largeDevice) {
        .skills__right_top_top {
            .skills__right_top_top-desc {
                height: 100%;
            }
        }
        .skills__left_top_top {
            grid-row: 1 / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            .skills__left_top_top_icons_wrapper {
                display: none;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .skills__both_bottom {
            grid-column: 1 / 3;
            height: fit-content;
        }
    }
    @media only screen and (max-width: $mediumDevice) {
        & {
            display: flex;
            flex-flow: column;
            text-align: center;
        }

        & > div {
            width: 100%;
        }

        .skills__left_top_top {
            height: 40%;
            overflow: unset;
            img {
                width: auto;
            }
        }

        .skills__both_bottom {
            align-items: center;
            justify-content: center;
        }
    }
}

#projects {
    @extend .paddingSide;
    min-height: $fullPageHeight;
    display: flex;
    justify-content: center;
    flex-flow: column;

    .projects__box_wrapper {
        width: 100%;
        min-height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .projects__box {
        min-width: $projectBoxWidth;
        height: 25rem;
        margin: 0 $lg $xl $lg;
        padding: $s03;
        border-radius: $xl;
        overflow: hidden;
        background: #f5f7f2;
        box-shadow: inset -10px -10px 80px #d0d2ce, inset 10px 10px 80px #ffffff, -10px 10px 20px #d0d2ce,
            10px -10px 20px #ffffff;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &:hover {
            .projects__box_wrapper_img {
                img {
                    transform: scale(1.1);
                }
                &::after {
                    opacity: 0;
                }
            }
        }

        .projects__box_wrapper_img {
            width: 100%;
            max-height: 50%;
            border-radius: $sm;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
                position: absolute;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        .projects__box_title {
            margin: $s09 0;
            font-weight: bold;
        }

        .projects__box_desc {
            font-weight: 500;
        }

        .projects__box_wrapper_button {
            height: 20%;
            margin-top: $s09;
            padding: 0 $xs;
            border-top: $s01 solid $gray-color;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > div {
                display: flex;
                gap: $s05;
            }

            .projects__box_button {
                cursor: pointer;
                padding: $s02 $s05;
                background: linear-gradient(225deg, #bbbdb9, #dfe1dc);
                box-shadow: -2px 2px 10px #b1b3af, 2px -2px 10px #eff2ed;
                align-items: center;
                border-radius: $xs;
                display: flex;
                align-items: center;
                @include showButton($s03, 0);

                .projects__box_button_wrapper_text {
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: 0fr;

                    .projects__box_button_text {
                        white-space: nowrap;
                        min-width: 0;
                        font-size: $xs;
                    }
                }
                .projects__box_button_text:is(.no_hidden) {
                    margin-right: $s03;
                    :has(.flip-horizental__active) & {
                        margin-right: unset;
                        margin-left: $s03;
                    }
                }

                .projects__box_button_svg {
                    width: $xl3;
                    height: $xl3;
                }
            }

            :has(.flip-horizental__active) .projects__box_button,
            .projects__box_button:is(.reverse) {
                flex-flow: row-reverse;

                @include showButton(0, $s03);
            }
        }
    }

    @media only screen and (max-width: $largeDevice) {
        .projects__box_wrapper {
            grid-template-columns: repeat(2, auto);
        }
    }
    @media only screen and (max-width: $mediumDevice) {
        & {
            margin: $xl9 0;
        }
        .projects__box_wrapper {
            grid-template-columns: repeat(1, auto);
        }

        .projects__box {
            margin: 0 0 $xl 0;
        }
    }
}

#contactMe {
    @extend .paddingSide;
    height: $currentHeight;
    display: flex;

    & > div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        padding: $sm 0;
    }

    .contactMe__right {
        .contactMe__form {
            margin-top: $xl;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            .box_input {
                width: 100%;
                margin-bottom: $xl;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                position: relative;

                &:first-child {
                    margin-top: $s05;
                }

                .box_input__field,
                .box_input__textarea_field {
                    width: 100%;
                    padding: $s05;
                    border: $s01 solid $green-color;
                    border-radius: $s05;
                    resize: vertical;
                }

                .box_input__textarea_field {
                    min-height: $xl5;
                    max-height: $xl9;
                }

                .box_input__placeholder {
                    font-size: $s08;
                    position: absolute;
                    top: $s05;
                    right: $s05;
                    transition: all 400ms ease-in-out;
                }

                .box_input__placeholder:is(.active) {
                    padding-inline: $s05;
                    background-color: $light-color;
                    transform: translateY(-$s06);
                    top: 0;
                    right: $s04 * 3;
                }
            }

            .contactMe__send_btn {
                color: $light-color;
                width: 100%;
                border-color: $green-color;
                background-color: $green-color;
            }
        }
    }

    .contactMe__left {
        padding: 0 ($xl6 * 2) $xl6 0;

        .contactMe__left__info_box {
            color: $light-color;
            width: 100%;
            padding: $lg;
            min-height: 70%;
            border-radius: $lg;
            box-shadow: 20px 20px 60px #d0d2ce, -20px -20px 60px #ffffff;
            background-color: $green-color;
            display: flex;
            flex-flow: column;
            position: relative;
            z-index: 3;

            .info_box__list {
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: flex-start;

                .info_box__item {
                    display: flex;
                    margin-bottom: $xl;
                    align-items: center;
                    justify-content: flex-start;
                    gap: $s08;
                }

                .info_box_item__svg {
                    width: $xl3;
                    height: $xl3;
                    fill: $green-color;
                    stroke: $white-color;
                }
            }

            .info_social__list {
                height: 20%;
                display: flex;
                gap: $sm;

                .info_social__item {
                    cursor: pointer;
                    padding: $s02;
                    border-radius: $s04;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include glass(16px, #ffffff8c);
                    transition: all 430ms linear;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 $s04 $s06 $dark-color;
                    }
                }

                .info_social_item__svg {
                    width: $xl4;
                    height: $xl4;
                }
            }
        }
    }

    @media only screen and (max-width: $largeDevice) {
        & {
            height: unset;
            min-height: $currentHeight;
            flex-flow: column-reverse;
        }

        & > div {
            width: 100%;
        }

        .contactMe__right {
            .contactMe__form {
                .box_input {
                    .box_input__textarea_field {
                        min-height: $xl9;
                    }
                }
            }
        }

        .contactMe__left {
            padding: 0;
            padding-bottom: $xl;

            .contactMe__left__info_box {
                box-shadow: unset;
            }
        }
    }
}

#footer {
    @extend .paddingSide;
    padding: $lg 0;
    text-align: center;
    font-size: $xs;
    color: $white-color;
    background-color: $green-color;

    .c {
        font-size: $lg;
        font-weight: 300;
        width: $lg;
        height: $lg;
        text-align: center;
        line-height: $lg;
        border: $s01 solid $white-color;
        border-radius: 50%;
        display: inline-block;
    }
}

.modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;

    &:is(.active) {
        visibility: visible;
        opacity: 1;
    }

    .modal_background {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
    }

    .modal_box {
        width: 35%;
        height: 40%;
        max-height: 50%;
        padding: $sm;
        border-radius: $xl;
        box-shadow: 0 0 $s09 0 $dark-color;
        background-color: $light-color;
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modal_box__close_btn {
            width: fit-content;
            margin-bottom: $s03;
            cursor: pointer;
            border: $s01 solid $dark-color;
            border-radius: $s03;
            display: flex;

            svg {
                padding: $s02;
            }

            &:hover {
                background-color: rgba($dark-color, $alpha: 0.1);
            }
        }

        .modal_box__modal_content {
            height: 100%;
            overflow-y: auto;
        }
    }

    @media only screen and (max-width: $largeDevice) {
        .modal_box {
            width: 55%;
            height: 40%;
        }
    }
    @media only screen and (max-width: $mediumDevice) {
        .modal_box {
            width: 90%;
        }
    }
}
